# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Ignore override files as they are usually local configs
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .tfvars files, which can contain sensitive data
*.tfvars

# Ignore env-specific files
*.env
